<section class='wrapper' id='contactUs'>
  <h1 class="sectionHeading" >Contact Us</h1>

    <form id="contact" action="//formspree.io/priyesh114@hotmail.co.uk" method="post">

        <h4>Contact us today, and get a reply with in 24 hours!</h4>

        <input name='name' placeholder="Your name" type="text" tabindex="1" required>


        <input name='Contact' placeholder="Your Email Address / Telephone" type="text" tabindex="2" required>


        <input name='Pickup' placeholder="Pickup Point" type="text" tabindex="3" required>


        <input name='Destination' placeholder="Destination" type="text" tabindex="4" required>

        <input name='Date/Time' placeholder="Date/Time" type="datetime" tabindex="5" required>

        <select>
            <option value="0">Type of Car</option>
            <option value="1">Saab</option>
            <option value="2">Mercedes</option>
            <option value="3">Audi</option>
        </select>

          <textarea name='Extra' placeholder="Extra Information" tabindex="5" ></textarea>

        <a href="#" id='contact-submit'>Get a qoute...</a>
    
  </form>
</section>

